@mixin background($color) {
  border: $borders;
  outline: none;
  border-radius: 20%;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  height: 35px;
  font-size: 0px;
  width: 40px;

  &:hover {
    transform: translate(-4px, -4px);
  }



}